@import "font.css";
@import "main.css";
@import "main_media.css";

:root {
    --color-black: #000000;
    --color-red: #B90000;
    --brand-font: "Impact";
    --bg-black: #080808;
    --color-white: #ffffff;
    --color-white-dark: #cbcbcb;
    --color-gray: #E6E6E6;
    --bg-red: #A40000;
    --color-smoke: #FEFEFE;
    --color-green: #19C903;
    --color-gray-black: #3E3E3E;
    --font: "SF Pro Display"
}